h1 {
    margin-top: 0;
}

td {
    padding: 2px;
  }

tr {
    height: 30px;
}

tr [class="trow"] {

    height: 100px;
}
  

fieldset {
    background-color: rgb(255, 255, 255);
    padding: 6px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

div+div {
    margin-top: 1em;
}

label span {
    display: inline-block;
    width: 120px;
    text-align: right;
   
}

label {

    padding-right:2px
    padding-bottom:30em;
}

label span[id="special1"], label span[id="percentage2"], label[id="special"], label[id="percentage1"] {
    float: right;
    width: 7em;
    /*text-align: right;

    margin-right: 1em;*/     
    
}

span[id="percentage3"] {

    float: left;
    width: 2em;
}




input, textarea, input[type=number], input[type=range], input[type=month], input[type=time], input[type=file], progress, meter  {
    font: 1em sans-serif;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #999;
}

/* input[type=checkbox], input[type=radio] {
    width: auto;
    border: none; */
}

input[type=date] {
    width: 100%;
    padding: 9px 9px;
    margin: 6px 0;
    box-sizing: border-box;
  }

input:focus, textarea:focus {
    border-color: rgb(228, 112, 203);
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

fieldset {
    width: 250px;
    box-sizing: border-box;
    margin-left: 136px;
    border: 1px solid #999;
}

input:required {
    border: 1px solid rgb(214, 24, 24);
  }

input:optional {
    border: 1px solid rgb(97, 58, 189);
  }



button {
    margin: 20px 0 0 124px;
}

label {
  position: relative;
}

input[type="radio"]:indeterminate {
    border: 2px solid red;
    animation: 0.4s linear infinite alternate border-pulse;
  }
  
  @keyframes border-pulse {
    from {
      border: 2px solid red;
    }
  
    to {
      border: 6px solid red;
    }
  }

 /* input[type="radio"]::before {
    display: block;
    content: " ";
    width: 3px;
    height: 3px;
    border-radius: 2px;
    background-color: red;
    font-size: 1.2em;
    transform: translate(1px, 1px) scale(0);
    transform-origin: center;
    transition: all 0.3s ease-in;
  }
  
input[type="radio"]:checked::before {
    transform: translate(1px, 1px) scale(1);
    transition: all 0.3s cubic-bezier(0.25, 0.25, 0.56, 2);
  } */