html {
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
    border: 1px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th, tfoot {
    background-color: #FF4A57;
  }
  
  td {
    text-align: center;
  }

  thead th, tfoot th, tfoot td {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
    border: 3px solid grey;
  }
  
  tr:nth-child(even) td {
    background-color: #e495e4;
  }
  
  tr:nth-child(odd) td {
    background-color: #ff33cc;
  }


  thead {
    background: url(images/pattern.png);
    color: white;
    text-shadow: 1px 1px 1px black;
  }
  
  caption {
    padding: 10px;
  }