
 /* CSS For Basic ITEMS */
 body {
  background-color: black;
  color: #ffffff;
  }

 :root {
     --primaryColor: #faf8f8;
     --mainWhite: #fff;
     --mainBlack: #222;
     --mainGrey: #ececec;
     --mainSpacing: 0.1rem;
     --mainTransition: all 0.3s linear;
 }

/* Font Setting */
@font-face {
  font-family: 'D-din';
  src: url('font/D-DIN.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'D-din-bold';
  src: url('font/D-DIN-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
    font-family: 'D-din-Condensed';
    src: url('font/D-DINCondensed.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    }

h1,h2,h3,h4,h5 {
  font-family: 'D-din', sans-serif;

 }

p,a,input,label,textarea,span,ul,li{
  font-family: 'Open Sans', sans-serif; 
 }

/* basic css for nav bar */
    /*
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 2rem;
        background-color: #282828;
      }
      
      .logo {
        flex: 1;
        padding-left: 2rem;
      }
      
      .nav-links {
        display: flex;
        justify-content: flex-end;
        flex: 1;
        padding-right: 2rem;
      }
      
      .nav-links li {
        margin-left: 1.5rem;
        margin-right: 2rem; 
        list-style: none;
      }

      .nav-links a {
        text-decoration: none;
        color: #fff;
      }
      */


/* CSS for navbar.html */
      /* 左右上下的空間 */
      .navbar-brand {
        margin : 2rem;
     
      }
      .navbar-toggler {
        margin : 1rem;
      }
  
      .navbar-collapse {
        text-align: left;
        padding-left: 2rem;
      }
      
      /* Nav bar 整體高度 */
      .navbar {
        height: auto;
      }
    
      /* Logo Size*/
      .navbar-brand img {
        vertical-align: auto;
        border-style: none;
        width: 130px;
      }

      /* 選單列每個項目之間的距離 */
      .navbar-nav > li {
        margin-right: 2.5rem;
      }

      .navbar-nav > li :hover{
        border-bottom: #ffffff .99px solid;
      }
  
      .nav-links li :last-child{
        margin-bottom: 5rem 
      }
      

      /* NAVBAR 的背上設為深灰色，文字變成白色 */
      .navbar {
        background-color: #000000 !important;
      }

      .navbar a {
        color: #ffffff !important;
      }

      .navbar a:hover {
        color: #ffffff !important;
      }


      /* navbar toggler icon 改成沒有邊框 */
      .navbar-toggler {
        border: none;
        padding-left: 2rem ;
      }
      /*把自家製作的圖嵌到樣式中*/
      .navbar-toggler-icon {
        background-image: url('Img/Nav/sim-w.png') !important;
      }
      .navbar-toggler-icon:hover {
        background-image: url('Img/Nav/simb-w.png') !important;
      }
    
      /*字體設定*/
      p,a,input,label,textarea,span,ul,li,.light-btn{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        letter-spacing: 2px;
        
      }
      /* 設定按鈕的外觀 */

/* Section 1 */

#about {
  width: 100%;
  height: auto;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: #ffffff;
  margin-bottom: 40px;
}

#about h1 {
  font-size: 55px; /* 調整字體大小 */
  font-weight: 550;
  line-height: 1;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0;
  padding: 20px;
}

#about p {
  font-size: 14px; /* 調整字體大小 */
  line-height: 1.5;
  color: #ffffff;
  margin: 0;
  padding: 20px;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-foreground {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}

.video-background video {
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (pointer: coarse) and (hover: none) {
  .video-background {
    display: none;
  }
}


/* CSS for section 2 */

.section-2 {
  min-height: 50vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.section-2 h5 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.section-2 h1 {
  font-family: 'D-din-Condensed';
  font-size: 140px;
  font-weight: 400;
  letter-spacing: 0rem;
}

@media (max-width: 800px) {
  .section-2 {
    min-height: 70vh;
   
  }
}

.wrapper {
  margin-top: calc(50vh + 60px); /* 60px 是 .section-1 h1 的高度 */
}





/* CSS for section 3 */


.section-3 {
  width: 100%;
  height: auto;
  background-color: #000;
  display: flex;
  margin-top: 0px;
  margin-bottom: 80px;
}

.section-3 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

.section-3-title {
  font-size: 55px;
  line-height: 1;
  letter-spacing: 1px;
  color: #ffffff;
  margin-bottom: 20px;
}

.section-3 p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.section-3 img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .section-3 {
    height: auto;
  }
  
  .section-3 .container {
    padding: 50px;
  }
  
  .section-3-title {
    font-size: 55px;
    margin-bottom: 10px;
  }
  
  .section-3 p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .section-3 img {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .section-3 .container {
    padding: 50px;
  }
  
  .section-3-title {
    font-size: 55px;
    margin-bottom: 5px;
  }
  
  .section-3 p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .section-3 img {
    margin-top: 10px;
  }
}



/* CSS for section 4 */

.section-4  {
  width: 100%;
  height: 70vh;
  background: url('Img/About/crew.png');
  background-size: cover;
  background-position: center;
  display: flex;
  margin-top: 0px;
  margin-bottom: 80px;
}



.section-4 .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

.section-4-title{
  font-size: 55px;
  line-height: 1;
  letter-spacing: -1px;
  color: #ffffff;
  margin-bottom: 20px;
}


.section-4 p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.section-4 img {
  width: 100%;
  height: auto;
}

 /*-------------------------------------- Start Of Cart  ------------------------------------------------*/

 .cart-overlay {
     position: fixed;
     top: 0;
     right: 0;
     width: 100%;
     height: 100%;
     transition: var(--mainTransition);
     background: rgba(0, 0, 0, 0.5);
     z-index: 2;
     visibility: hidden;
 }


 .cart {
     position: fixed;
     top: 0;
     right: 0;
     width: 100%;
     height: 100%;
     overflow: scroll;
     z-index: 3;
     background: #000000;
     padding: 4rem;
     transition: var(--mainTransition);
     transform: translateX(100%);
     color: var(--mainWhite);
     text-align: left;
     font-family: 'D-din';
     font-weight: lighter;
 }

 .showCart {
     transform: translateX(0);
 }

 .transparentBcg {
     visibility: visible;
 }

 /*--------------- updated ----------------*/
 @media screen and (min-width: 768px) {
     .cart {
         width: 40.5vw;
         min-width: 550px;
     }
 }
 /*------ close-cart-btn ------*/
 /* .close-cart {
    position: relative;
    font-size: 30px;
    padding: 5px auto;
    color:#ffffff;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: lighter;
    cursor: pointer;
    float: right;
 } */

 .close-cart {
     font-size: 20px;
     cursor: pointer;
     float: right;
     background-color: #000000;
     color: #ffffff;
     font-family: 'D-din';
     font-weight: lighter;
     margin-top: 10px;
 }

 /* .close-cart i:hover {
    color: #000000;
    background: #ffffff;
 } */

 .cart h2 {
     text-transform: capitalize;
     letter-spacing: var(--mainSpacing);
     margin-bottom: 50px;
     text-align: left;
     font-family: 'D-din';
     font-weight: lighter;
 }
 /*-------------------- Cart Item -------------------- */
 .cart-flight-item {
     display: grid;
     align-items: center;
     grid-template-columns: auto 1fr auto;
     grid-column-gap: 1rem;
     margin: 1.5rem 0;
     font-family: 'D-din';
     font-weight: lighter;
 }

 .cart-flight-Total {
     text-align: left;
     font-size: 1.3rem;
     letter-spacing: var(--mainSpacing);
     text-align: left;
     font-family: 'D-din';
     font-weight: lighter;
     margin: 0 .2rem ;
 }

 .cart-trip-item {
     display: grid;
     align-items: center;
     grid-template-columns: auto 1fr auto;
     grid-column-gap: 1rem;
     margin: 1.5rem 0;
     font-family: 'D-din';
     font-weight: lighter;
 }

 .cart-trip-Total {
     text-align: left;
     font-size: 1.3rem;
     letter-spacing: var(--mainSpacing);
     text-align: left;
     font-family: 'D-din';
     font-weight: lighter;
     margin: 0 .2rem ;
 }


 .cart-item img {
     width: 75px;
     height: 75px;
 }

 /*------- updated -------*/
 .cart h3 {
     text-transform: capitalize;
     letter-spacing: var(--mainSpacing);
     text-align: left;
     font-family: 'D-din';
     font-weight: lighter;
 }

 .cart-item h4 {
     line-height: 1.2;
     letter-spacing: var(--mainSpacing);
     text-transform: capitalize;
     text-align: left;
     font-family: 'D-din';
     font-weight: lighter;
 }

 /*------- updated -------*/
 .cart-item h5 {
     line-height: 1.2;
     text-align: left;
     letter-spacing: var(--mainSpacing);
     font-family: 'D-din';
     font-weight: lighter;
 }

 .cart-item h6 {
     text-align: left;
     letter-spacing: var(--mainSpacing);
     font-family: 'D-din';
     font-weight: lighter;
 }


 .item-amount {
     position: relative;
     font-size: 14px;
     text-align: center;
     color: #ffffff;
     font-family: 'D-din';
     font-weight: lighter;
 }

 .remove-item {
     color: dimgray;
     cursor: pointer;
     font-family: 'D-din';
     font-weight: lighter;
 }

 .fa-chevron-up,
 .fa-chevron-down {
     color: #ffffff;
     cursor: pointer;
     font-size: x-small;
     padding: 5px;
     margin-bottom: 15px;
 }



 /*------------------- Total Cart -------------------*/
 .cart-footer {
     letter-spacing: var(--mainSpacing);
     text-align: left;
     font-family: 'D-din';
     font-size: small;
     background-color: #000000;
     color: #ffffff;
     margin-bottom: 70px;
 }

 .cart-footer h3 {
     text-transform: capitalize;
     text-align: left;
     font-family: 'D-din';
     font-weight: lighter;
     font-size: 1.8rem;
     margin-bottom: 30px;

 }

 .cart-Total{
     text-align: left;
     font-size: 1.8rem;
     letter-spacing: var(--mainSpacing);
     text-align: left;
     font-family: 'D-din';
     font-weight: lighter;
 }

 /*--------------- End of Cart Item ---------------- */

 /*------ checkout-cart-btn ----*/
 .cart-footer .checkout-cart {
     color:#ffffff;
     background: #000000;
     border: 1px solid #ffffff;
     padding: 10x 20px;
     border-radius: 0;
     font-size: 9px;
     text-transform: uppercase;
     font-weight: lighter;
     cursor: pointer;
     float: left;
 }

 .cart-footer .checkout-cart:hover {
     color:#000000;
     background: #ffffff;
     border: 1px solid #ffffff;
 }


 /*------ clear-cart-btn ----*/
 .cart-footer .clear-cart {
     color: dimgray;
     background: #000000;
     border: 1px solid #000000;
     padding: 10x 20px;
     border-radius: 0;
     font-size: 9px;
     text-transform: uppercase;
     font-weight: lighter;
     cursor: pointer;
     float: right;
 }

 .cart-footer .clear-cart:hover {
     color:#ffffff;
     background: #000000;
     border: 1px solid #000000;
 }

 /*-------------------------------------------- End of Cart  ----------------------------------------- */





 /* ----------- START of footer ----------- */
.footer { 
  /* background: url(./Img/Footer/footer-bottom.png); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position:sticky;
  max-width: 100%; height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .footer-logo effect */
.footer .footer-logo .a {
  opacity: 1;
  border: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
}

/* social media effect */
.footer .social-effect a {
    color: #ffffff;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
  }

.footer .social-effect a:hover {
    color: #ffffff;
    border-bottom: #ffffff 1px solid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 5px;
  }
/* ----------- END of footer ----------- */