
 /* CSS For Basic ITEMS */
    body {
      background-color: black;
      }

 :root {
     --primaryColor: #faf8f8;
     --mainWhite: #fff;
     --mainBlack: #222;
     --mainGrey: #ececec;
     --mainSpacing: 0.1rem;
     --mainTransition: all 0.3s linear;
 }
      

    /* Font Setting */
    @font-face {
      font-family: 'D-din';
      src: url('font/D-DIN.otf') format('opentype');
      font-weight: normal;
      font-style: normal;
      }

    @font-face {
      font-family: 'D-din-bold';
      src: url('font/D-DIN-Bold.otf') format('opentype');
      font-weight: normal;
      font-style: normal;
      }

      @font-face {
        font-family: 'D-din-Condensed';
        src: url('font/D-DINCondensed.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
        }

    h1,h2,h3,h4,h5 {
      font-family: 'D-din', sans-serif;
      font-weight: 800;
    }

    p,a,input,label,textarea,span,ul,li{
      font-family: 'Open Sans', sans-serif; 
    }


/* CSS for navbar.html */
      /* 左右上下的空間 */
    .navbar-brand {
      margin : 2rem;
   
    }
    .navbar-toggler {
      margin : 2rem;
    }

    .navbar-collapse {
      text-align: left;
      padding-left: 2rem;
    }
    
    /* Nav bar 整體高度 */
    .navbar {
      height: auto;
    }
  

    /* Logo Size*/
    .navbar-brand img {
      vertical-align: auto;
      border-style: none;
      width: 130px;

    }
    /* 選單列每個項目之間的距離 */
    .navbar-nav > li {
      margin-right: 2.5rem;
    }
    .nav-links li :last-child{
      margin-bottom: 5rem 
    }
    /* NAVBAR 的背上設為深灰色，文字變成白色 */
    .navbar {
      background-color: #000000 !important;
    }
    .navbar a {
      color: #fff !important; 
    }
    /* navbar toggler icon 改成沒有邊框 */
    .navbar-toggler {
      border: none;
      padding-left: 2rem ;
    }
    /*把自家製作的圖嵌到樣式中*/
    .navbar-toggler-icon {
      background-image: url('Img/Nav/sim-w.png') !important;
    }
    .navbar-toggler-icon:hover {
      background-image: url('Img/Nav/simb-w.png') !important;
    }
  
    /*字體設定*/
    p,a,input,label,textarea,span,ul,li,.light-btn{
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      letter-spacing: 2px;
      
    }


/* CSS for page-check-out.html */

/*header*/
.headerbg {
  background-image: url("Img/Checkout/checkout-header.jpeg");
  background-size: cover;
  background-position: top;
  min-height: 50vh;
  padding: 30px 0;
  padding-right: 30px;
  margin-bottom: 50px;
}

#ckheader h1 {
  font-size: 55px;
  font-weight: 550;
  line-height: 1;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0;
}

#ckheader p{
  font-size: 8px;
  color: lightgrey;
  letter-spacing: 0px;
}

/*Check Form*/

#checkform{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  
}

.container form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

#payicon{
  margin-bottom: 25px;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #000000;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover{
  background: #ffffff;
  color:rgb(0, 0, 0);
}


/*----------------checkOut List------------------*/

#checkoutdetails{
  width: 100%;
  background:rgba(255, 255, 255, 0.2);
  margin-bottom: 80px ;
  position: relative;  
  padding-left: 40px;
  padding-right: 40px;
}

.summary-container{
  margin-bottom: 2rem;
  margin-top:2rem;
}
 .s-line {
  width: 90%;
  border-bottom:1px solid white;
    
 }
 
 .flight-table-header, .trip-table-header, .checkout-flight-footer, .checkout-trip-footer, .checkout-lumpSum{
     
     width: 100%;
     color: white;
     font-size: 0.8rem;
     text-transform: uppercase;
     letter-spacing: 0.1rem;
     font: weight 100;
     font-family: 'Open Sans', sans-serif; 
     letter-spacing: 0rem;
     /*border: 1px solid #fff;*/
     
 }

 .flight-header-row > th, .trip-header-row > th {
    /*border: 1px solid #fff;*/
    width: 20%;
    line-height: 2rem;
}
 
 
 .flight-table-body, .trip-table-body{
     width: 100%;   
 }
 
.flight-table-item > td, .trip-table-item > td {
    width: 20%;
    font-size: 0.8rem;
    color:rgb(255, 255, 255);
    *border: 1px solid #fff;
    
}

.checkout-flight-footer #flight-foot-1{
    width: 20%;
    font-size: 0.8rem;
    color:rgb(255, 255, 255);
    padding-left: 80px;
    
    
}

 #trip-foot-1, #lumpSum-footer-1{
    
    /*position: relative;*/
    /*left: 19rem;*/
    font-weight: 200;
    width:20%;
    padding-left: 80px;
}

#lumpSum-footer-1, #lumpSum-footer-2, #lumpSum-footer-3{
  font-family: 'D-din', sans-serif;
  font-size:  1.5rem;
  line-height: 2rem;

}

#flight-foot-2, #flight-foot-3, #trip-foot-2, #trip-foot-3, #lumpSum-footer-2, #lumpSum-footer-3{
    width:20%;
}

/* ----------End Of CheckOut List --------------*/

 /*----------------------------------- cart ----------------------------------*/

 .cart-overlay {
     position: fixed;
     top: 0;
     right: 0;
     width: 100%;
     height: 100%;
     transition: var(--mainTransition);
     background: rgba(0, 0, 0, 0.5);
     z-index: 2;
     visibility: hidden;
 }

 /*--------------- updated ----------------*/
 .cart {
     position: fixed;
     top: 0;
     right: 0;
     width: 100%;
     height: 100%;
     overflow: scroll;
     z-index: 3;
     background: #000000;
     padding: 4rem;
     transition: var(--mainTransition);
     transform: translateX(100%);
     color: var(--mainWhite);
     text-align: left;
     font-family: 'D-din';
     font-weight: lighter;
 }

 .showCart {
     transform: translateX(0);
 }

 .transparentBcg {
     visibility: visible;
 }

 /*--------------- updated ----------------*/
 @media screen and (min-width: 768px) {
     .cart {
         width: 40.5vw;
         min-width: 550px;
     }
 }


 /*--------------- updated ----------------*/
 /*------ close-cart-btn ------*/
 /* .close-cart {
    position: relative;
    font-size: 30px;
    padding: 5px auto;
    color:#ffffff;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: lighter;
    cursor: pointer;
    float: right;
} */

 .close-cart {
     font-size: 20px;
     cursor: pointer;
     float: right;
     background-color: #000000;
     color: #ffffff;
     font-family: 'D-din';
     font-weight: lighter;
     margin-top: 10px;
 }

 /* .close-cart i:hover {
    color: #000000;
    background: #ffffff;
 } */

 .cart h2 {
     text-transform: capitalize;
     letter-spacing: var(--mainSpacing);
     margin-bottom: 50px;
     text-align: left;
     font-family: 'D-din';
     font-weight: lighter;
 }

 /*--------------- updated ----------------*/
 /*-------------------- Cart Item -------------------- */
 .cart-flight-item {
     display: grid;
     align-items: center;
     grid-template-columns: auto 1fr auto;
     grid-column-gap: 1rem;
     margin: 1.5rem 0;
     font-family: 'D-din';
     font-weight: lighter;
 }

 .cart-flight-Total {
     text-align: left;
     font-size: 1.3rem;
     letter-spacing: var(--mainSpacing);
     text-align: left;
     font-family: 'D-din';
     font-weight: lighter;
     margin: 0 .2rem ;
 }

 .cart-trip-item {
     display: grid;
     align-items: center;
     grid-template-columns: auto 1fr auto;
     grid-column-gap: 1rem;
     margin: 1.5rem 0;
     font-family: 'D-din';
     font-weight: lighter;
 }

 .cart-trip-Total {
     text-align: left;
     font-size: 1.3rem;
     letter-spacing: var(--mainSpacing);
     text-align: left;
     font-family: 'D-din';
     font-weight: lighter;
     margin: 0 .2rem ;
 }


 .cart-item img {
     width: 75px;
     height: 75px;
 }

 /*------- updated -------*/
 .cart h3 {
     text-transform: capitalize;
     letter-spacing: var(--mainSpacing);
     text-align: left;
     font-family: 'D-din';
     font-weight: lighter;
 }

 .cart-item h4 {
     line-height: 1.2;
     letter-spacing: var(--mainSpacing);
     text-transform: capitalize;
     text-align: left;
     font-family: 'D-din';
     font-weight: lighter;
 }

 /*------- updated -------*/
 .cart-item h5 {
     line-height: 1.2;
     text-align: left;
     letter-spacing: var(--mainSpacing);
     font-family: 'D-din';
     font-weight: lighter;
 }

 .cart-item h6 {
     text-align: left;
     letter-spacing: var(--mainSpacing);
     font-family: 'D-din';
     font-weight: lighter;
 }


 .item-amount {
     position: relative;
     font-size: 14px;
     text-align: center;
     color: #ffffff;
     font-family: 'D-din';
     font-weight: lighter;
 }

 .remove-item {
     color: dimgray;
     cursor: pointer;
     font-family: 'D-din';
     font-weight: lighter;
 }

 .fa-chevron-up,
 .fa-chevron-down {
     color: #ffffff;
     cursor: pointer;
     font-size: x-small;
     padding: 5px;
     margin-bottom: 15px;
 }



 /*------------------- Total Cart -------------------*/
 .cart-footer {
     letter-spacing: var(--mainSpacing);
     text-align: left;
     font-family: 'D-din';
     font-size: small;
     background-color: #000000;
     color: #ffffff;
     margin-bottom: 70px;
 }

 .cart-footer h3 {
     text-transform: capitalize;
     text-align: left;
     font-family: 'D-din';
     font-weight: lighter;
     font-size: 1.8rem;
     margin-bottom: 30px;

 }

 .cart-Total{
     text-align: left;
     font-size: 1.8rem;
     letter-spacing: var(--mainSpacing);
     text-align: left;
     font-family: 'D-din';
     font-weight: lighter;
 }

 /*--------------- End of Cart Item ---------------- */

 /*-------------------- updated --------------------*/
 /*------ checkout-cart-btn ----*/
 .cart-footer .checkout-cart {
     color:#ffffff;
     background: #000000;
     border: 1px solid #ffffff;
     padding: 10x 20px;
     border-radius: 0;
     font-size: 9px;
     text-transform: uppercase;
     font-weight: lighter;
     cursor: pointer;
     float: left;
 }

 .cart-footer .checkout-cart:hover {
     color:#000000;
     background: #ffffff;
     border: 1px solid #ffffff;
 }


 /*------ clear-cart-btn ----*/
 .cart-footer .clear-cart {
     color: dimgray;
     background: #000000;
     border: 1px solid #000000;
     padding: 10x 20px;
     border-radius: 0;
     font-size: 9px;
     text-transform: uppercase;
     font-weight: lighter;
     cursor: pointer;
     float: right;
 }

 .cart-footer .clear-cart:hover {
     color:#ffffff;
     background: #000000;
     border: 1px solid #000000;
 }

 /* --------------- End of Cart ---------------- */




 /* ----------- START of footer ----------- */
 .footer {
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     position:sticky;
     max-width: 100%; height: auto;
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 /* .footer-logo effect */
 .footer .footer-logo .a {
     opacity: 1;
     border: none;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin: 5px;
 }

 /* social media effect */
 .footer .social-effect a {
     color: #ffffff;
     border: none;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 5px;
     margin: 5px;
 }

 .footer .social-effect a:hover {
     color: #ffffff;
     border-bottom: #ffffff 1px solid;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 5px;
     margin: 5px;
 }
 /* ----------- END of footer ----------- */